<h1 class="modal-title">Change password</h1>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="changePassword">
    <div class="form-group">
        <label for="newPassword" class="form-label">New password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" required
            minlength="8" #newPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="newPassword.errors && f.submitted">
            <div *ngIf="newPassword.errors['required']">New password is required!</div>
            <div *ngIf="newPassword.errors['minlength']">
                New password must be at least 8 characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required
            minlength="8" #confirmPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors && f.submitted">
            <div *ngIf="confirmPassword.errors['required']">Confirm password is required</div>
            <div *ngIf="confirmPassword.errors['minlength']">
                Confirm password must be at least 8 characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="oldPassword" class="form-label">Old password</label>
        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="form.oldPassword" required
            #oldPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="oldPassword.errors && f.submitted">
            <div *ngIf="oldPassword.errors['required']">Old password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">
            Change password
        </button>
    </div>
    <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isPasswordMatch">
            {{ errorMessage }}
        </div>
    </div>

</form>