<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="changePassword">
    <div class="form-group">
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="form.newPassword" required
            placeholder="New password" #newPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="newPassword.errors && f.submitted">
            New password is required!
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required
            placeholder="Confirm password" #confirmPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors && f.submitted">
            <div *ngIf="confirmPassword.errors['required']">Confirm password is required</div>
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="form.oldPassword" required
            placeholder="Old password" #oldPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="oldPassword.errors && f.submitted">
            <div *ngIf="oldPassword.errors['required']">Old password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">
            Change password
        </button>
    </div>
    <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isPasswordMatch">
            {{ errorMessage }}
        </div>
    </div>
    <div class="form-group">
        <div class="alert alert-success" role="alert" *ngIf="f.submitted && isSuccess">
            Password changed successfully
        </div>
    </div>
</form>