<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
      <img src="../assets/Verticalparafondooscuro.png" width="30" height="30" class="d-inline-block align-top" alt="">
      SmartBear
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/users" class="nav-link" routerLink="users">Users </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a  id="register-button" class="nav-link" (click)="openModal()">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
